USE [CatSpeakDB]
GO
/****** Object:  Table [dbo].[ActionLogs]    Script Date: 09.04.2026 21:46:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActionLogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[Action] [nvarchar](200) NOT NULL,
	[ActionTime] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CatPhrases]    Script Date: 09.04.2026 21:46:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CatPhrases](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CatDialect] [nvarchar](50) NOT NULL,
	[MeowSound] [nvarchar](100) NOT NULL,
	[HumanTranslation] [nvarchar](200) NOT NULL,
	[DangerLevel] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cats]    Script Date: 09.04.2026 21:46:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cats](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Breed] [nvarchar](50) NULL,
	[Dialect] [nvarchar](50) NOT NULL,
	[Mood] [nvarchar](50) NOT NULL,
	[OwnerName] [nvarchar](100) NOT NULL,
	[PhotoUrl] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 09.04.2026 21:46:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ClientId] [int] NULL,
	[CatId] [int] NULL,
	[TranslatorId] [int] NULL,
	[OrderDate] [datetime] NULL,
	[Status] [nvarchar](20) NULL,
	[FinalTranslation] [nvarchar](500) NULL,
	[Price] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Translators]    Script Date: 09.04.2026 21:46:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Translators](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[CertificateNumber] [nvarchar](50) NOT NULL,
	[ExperienceYears] [int] NULL,
	[Rating] [decimal](3, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 09.04.2026 21:46:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](100) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[AvatarPath] [nvarchar](200) NULL,
	[Role] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ActionLogs] ON 

INSERT [dbo].[ActionLogs] ([Id], [UserId], [Action], [ActionTime]) VALUES (1, 1, N'Добавил переводчика Мария', CAST(N'2026-04-09T21:16:44.233' AS DateTime))
INSERT [dbo].[ActionLogs] ([Id], [UserId], [Action], [ActionTime]) VALUES (2, 1, N'Удалил заказ №3', CAST(N'2026-04-09T21:16:44.233' AS DateTime))
INSERT [dbo].[ActionLogs] ([Id], [UserId], [Action], [ActionTime]) VALUES (3, 2, N'Создал заказ на перевод Барсика', CAST(N'2026-04-09T21:16:44.233' AS DateTime))
SET IDENTITY_INSERT [dbo].[ActionLogs] OFF
GO
SET IDENTITY_INSERT [dbo].[CatPhrases] ON 

INSERT [dbo].[CatPhrases] ([Id], [CatDialect], [MeowSound], [HumanTranslation], [DangerLevel]) VALUES (1, N'Дворовый', N'Мяу-мяу-ууу', N'Я голоден, дай рыбы!', 1)
INSERT [dbo].[CatPhrases] ([Id], [CatDialect], [MeowSound], [HumanTranslation], [DangerLevel]) VALUES (2, N'Дворовый', N'МРРРРР', N'Уходи, это моя территория', 3)
INSERT [dbo].[CatPhrases] ([Id], [CatDialect], [MeowSound], [HumanTranslation], [DangerLevel]) VALUES (3, N'Сиамский', N'Миааау', N'Хочу ласки и внимания', 1)
SET IDENTITY_INSERT [dbo].[CatPhrases] OFF
GO
SET IDENTITY_INSERT [dbo].[Cats] ON 

INSERT [dbo].[Cats] ([Id], [Name], [Breed], [Dialect], [Mood], [OwnerName], [PhotoUrl]) VALUES (1, N'Барсик', N'Дворовый', N'Дворовый', N'Голоден', N'Лиза Котикова', N'cat1.jpg')
INSERT [dbo].[Cats] ([Id], [Name], [Breed], [Dialect], [Mood], [OwnerName], [PhotoUrl]) VALUES (2, N'Мурка', N'Британский', N'Британский', N'Захват мира', N'Олег Мурзиков', N'cat2.jpg')
INSERT [dbo].[Cats] ([Id], [Name], [Breed], [Dialect], [Mood], [OwnerName], [PhotoUrl]) VALUES (3, N'Снежок', N'Сиамский', N'Сиамский', N'Агрессивен', N'Лиза Котикова', N'cat3.jpg')
SET IDENTITY_INSERT [dbo].[Cats] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([Id], [ClientId], [CatId], [TranslatorId], [OrderDate], [Status], [FinalTranslation], [Price]) VALUES (1, 2, 1, 1, CAST(N'2026-04-09T21:16:44.233' AS DateTime), N'Переведено', N'Кошка требует срочной кормежки', CAST(500.00 AS Decimal(10, 2)))
INSERT [dbo].[Orders] ([Id], [ClientId], [CatId], [TranslatorId], [OrderDate], [Status], [FinalTranslation], [Price]) VALUES (2, 3, 2, 2, CAST(N'2026-04-09T21:16:44.233' AS DateTime), N'В работе', NULL, CAST(700.00 AS Decimal(10, 2)))
INSERT [dbo].[Orders] ([Id], [ClientId], [CatId], [TranslatorId], [OrderDate], [Status], [FinalTranslation], [Price]) VALUES (3, 2, 3, NULL, CAST(N'2026-04-09T21:16:44.233' AS DateTime), N'Новый', NULL, CAST(600.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Translators] ON 

INSERT [dbo].[Translators] ([Id], [UserId], [CertificateNumber], [ExperienceYears], [Rating]) VALUES (1, 4, N'FEL-001', 5, CAST(4.90 AS Decimal(3, 2)))
INSERT [dbo].[Translators] ([Id], [UserId], [CertificateNumber], [ExperienceYears], [Rating]) VALUES (2, 5, N'FEL-002', 3, CAST(4.70 AS Decimal(3, 2)))
INSERT [dbo].[Translators] ([Id], [UserId], [CertificateNumber], [ExperienceYears], [Rating]) VALUES (3, 11, N'FEL-001', 5, CAST(4.90 AS Decimal(3, 2)))
SET IDENTITY_INSERT [dbo].[Translators] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Login], [PasswordHash], [FullName], [AvatarPath], [Role]) VALUES (1, N'admin', N'admin123', N'Виктор Админович', NULL, N'Admin')
INSERT [dbo].[Users] ([Id], [Login], [PasswordHash], [FullName], [AvatarPath], [Role]) VALUES (2, N'kotik_liza', N'pass1', N'Лиза Котикова', NULL, N'Client')
INSERT [dbo].[Users] ([Id], [Login], [PasswordHash], [FullName], [AvatarPath], [Role]) VALUES (3, N'murzik_oleg', N'pass2', N'Олег Мурзиков', NULL, N'Client')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__5E55825B48FF8D93]    Script Date: 09.04.2026 21:46:07 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ActionLogs] ADD  DEFAULT (getdate()) FOR [ActionTime]
GO
ALTER TABLE [dbo].[CatPhrases] ADD  DEFAULT ((1)) FOR [DangerLevel]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ('Новый') FOR [Status]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((500.00)) FOR [Price]
GO
ALTER TABLE [dbo].[Translators] ADD  DEFAULT ((0)) FOR [ExperienceYears]
GO
ALTER TABLE [dbo].[Translators] ADD  DEFAULT ((5.0)) FOR [Rating]
GO
ALTER TABLE [dbo].[ActionLogs]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([CatId])
REFERENCES [dbo].[Cats] ([Id])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([ClientId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([TranslatorId])
REFERENCES [dbo].[Translators] ([Id])
GO
ALTER TABLE [dbo].[Translators]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CatPhrases]  WITH CHECK ADD CHECK  (([DangerLevel]>=(1) AND [DangerLevel]<=(5)))
GO
ALTER TABLE [dbo].[Cats]  WITH CHECK ADD CHECK  (([Dialect]='Сфинкс' OR [Dialect]='Британский' OR [Dialect]='Мейн-кун' OR [Dialect]='Дворовый' OR [Dialect]='Сиамский'))
GO
ALTER TABLE [dbo].[Cats]  WITH CHECK ADD CHECK  (([Mood]='Захват мира' OR [Mood]='Сонлив' OR [Mood]='Агрессивен' OR [Mood]='Игрив' OR [Mood]='Голоден'))
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD CHECK  (([Status]='Отменено' OR [Status]='Оплачено' OR [Status]='Переведено' OR [Status]='В работе' OR [Status]='Новый'))
GO
ALTER TABLE [dbo].[Translators]  WITH CHECK ADD CHECK  (([Rating]>=(0) AND [Rating]<=(5)))
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([Role]='Linguist' OR [Role]='Client' OR [Role]='Admin'))
GO
